* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #FFF3B0;
}

.landing .landing__element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing .landing__element .element__title {
  font-size: 5rem;
  color: #335C67;
}
.landing .landing__element .element__helper {
  font-size: 2rem;
  color: #540B0E;
}
.landing .landing__element .element__btn {
  padding: 10px 40px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #9E2A2B;
  color: #fff;
  margin-top: 50px;
  transition: 0.3s ease;
}
.landing .landing__element .element__btn:hover {
  background-color: #fff;
  color: #9E2A2B;
  font-weight: bold;
}
.landing .landing__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid #E09F3E;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
}
.landing .landing__contact .contact__title {
  font-size: 2rem;
  color: #9E2A2B;
  border-bottom: 1px solid #E09F3E;
  margin-bottom: 20px;
}

.contactList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}
.contact .contact__items {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #E09F3E;
  border-radius: 5px;
  transition: 0.3s ease;
  color: #000;
}
.contact .contact__items .items__single {
  flex: 1;
  font-size: 1.4rem;
}
.contact .contact__items:hover {
  background-color: #cc800b;
}
.contact .contact__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  background-color: #E09F3E;
  border-radius: 5px;
  margin-left: 10px;
}
.contact .contact__buttons .items__icon {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.contact .contact__buttons .items__icon:last-child {
  margin-left: 30px;
}
.contact .contact__buttons .items__icon:hover {
  transform: translateY(-2px);
}
.contact .contact__buttons .items__icon--delete {
  color: #9E2A2B;
}
.contact .contact__buttons .items__icon--edit {
  color: #FFF3B0;
}
.contact .contact__buttons:last-child {
  margin-bottom: 0;
}

.newContact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.newContact .newContact__title {
  font-size: 5rem;
  color: #9E2A2B;
  border-bottom: 1px solid #9E2A2B;
  margin-bottom: 40px;
}
.newContact .newContact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.newContact .newContact__form .form__section {
  width: 100%;
}
.newContact .newContact__form .form__section .section__input {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #9E2A2B;
  border-radius: 5px;
  font-size: 1.4rem;
  width: 100%;
}
.newContact .newContact__form .form__section .section__input:focus {
  outline: none;
}
.newContact .newContact__form .form__section .section__input::placeholder {
  color: #540B0E;
}
.newContact .newContact__form .form__btn {
  font-size: 1.4rem;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #9E2A2B;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.newContact .newContact__form .form__btn:hover {
  background-color: #fff;
  color: #9E2A2B;
  font-weight: bold;
}

.contactSingle {
  border: 1px solid #9E2A2B;
  border-radius: 5px;
  padding: 40px;
}
.contactSingle .contactSingle__title {
  font-size: 5rem;
  color: #9E2A2B;
  text-align: center;
  margin-bottom: 40px;
}
.contactSingle .contactSingle__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.contactSingle .contactSingle__info .info__id {
  margin-right: 40px;
  font-size: 2rem;
  color: #335C67;
  font-weight: bold;
}
.contactSingle .contactSingle__info .info__number {
  font-size: 2rem;
  color: #335C67;
}
.contactSingle .contactSingle__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactSingle .contactSingle__form .form__edit-input {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}
.contactSingle .contactSingle__form .form__edit-input:focus {
  outline: none;
}
.contactSingle .contactSingle__form .form__edit__acc {
  border: none;
  background-color: transparent;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactSingle .contactSingle__form .form__icon {
  font-size: 2.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.contactSingle .contactSingle__form .form__icon:last-child {
  margin-right: 0;
}
.contactSingle .contactSingle__form .form__icon:hover {
  transform: translateY(-2px);
}
.contactSingle .contactSingle__form .form__icon--green {
  color: #1c9806;
}
.contactSingle .contactSingle__form .form__icon--red {
  color: #9E2A2B;
}
.contactSingle .contactSingle__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.contactSingle .contactSingle__btn .btn__self {
  padding: 10px 30px;
  color: #fff;
  background-color: #9E2A2B;
  border: none;
  margin-right: 20px;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}
.contactSingle .contactSingle__btn .btn__self:last-child {
  margin-right: 0;
}
.contactSingle .contactSingle__btn .btn__self:hover {
  color: #9E2A2B;
  background-color: #fff;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
